{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-imports", {
      "@fortawesome/pro-regular-svg-icons": {
        "transform": "@fortawesome/pro-regular-svg-icons/${member}",
        "skipDefaultConversion": true
      },
      "@fortawesome/pro-solid-svg-icons": {
        "transform": "@fortawesome/pro-solid-svg-icons/${member}",
        "skipDefaultConversion": true
      },
      "@fortawesome/pro-light-svg-icons": {
        "transform": "@fortawesome/pro-light-svg-icons/${member}",
        "skipDefaultConversion": true
      },
      "@fortawesome/pro-duotone-svg-icons": {
        "transform": "@fortawesome/pro-duotone-svg-icons/${member}",
        "skipDefaultConversion": true
      },
      "rc-slider": {
        "transform": "rc-slider/lib/${member}",
        "skipDefaultConversion": true
      }
    }]
  ]
}
